@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #cccccc;
}

img {
  max-width: 500px;
  height: auto;
}

a {
  text-decoration: none;
}

button{
  padding: 5px;
  margin-top: 5px;
}