@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    width: auto;
    height: auto;
    background: #cacaca;
    font-family: 'Roboto', sans-serif;
}

.conteudo{
    width: 1000px;
    height: auto;
    border: solid black 2px;
    border-radius: 2px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}
header{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.inputs{
    font-size: large;
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    margin-top: 20px;
    width: 70px;
    height: fit-content;
    padding: 2px 2px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgb(135, 255, 135);
    cursor: pointer;
}
